html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $black;
    font-family: 'Roboto', sans-serif;
}

a{
    outline: unset;
    text-decoration: unset;
    color: $textColor;
}

button{
    background-color: unset;
    margin: 0;
    padding: 0;
    border: unset;
    outline: unset;
}