#main_nav{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 10vw;
  width: 100%;
  background-color: $mainAccent;
  padding: 15px;

  @media #{$mq-900-up}{
    padding: 15px 25px;
    gap: 150px;
  }

  .nav_link{
    color: $textColorLight;
    padding: 5px 10px;
    &.active{
      color: $white;
    } 
    &.name_link{
      color: $white;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .nav_content{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  #hide-show_menu{
    position: relative;
    display: inline-flex;
    width: 32px;
    height: 19px;
    cursor: pointer;
    .line{
      position: absolute;
      display: block;
      background-color: $white;
      width: 32px;
      height: 3px;
      transition: all 0.2s ease-in-out;
      &:nth-child(1){
        top: 0px;
      }
      &:nth-child(2){
        top: 8px;
      }
      &:nth-child(3){
        top: 16px
      }
    }
    &.active{
      .line{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2){
          height: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          top: 8px;
        }
      }
      & + .nav_conent-menu{
        &.menu-toggle{
          display: flex;
        }
      }
    }
  }

  .nav_conent-menu{
    display: flex;
    width: 100%;

    &.menu-toggle{
      display: none;
      position: absolute;
      top: calc(100% + 30px);
      right: -15px;
      flex-direction: column;
      align-items: center;
      background-color: $mainAccent;
      box-shadow: 0 0 2px $textColorLight;
      z-index: 9;

      .nav_conent-menu--user{
        margin: 0 auto;
      }
    }
  }

  .nav_conent-menu--user{
    padding: 5px 0;
    margin: 0 0 0 auto;

    .hide-show_userpanel{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      font-size: 0;
      border: 1px solid $white;
      background-image: url('../../images/ico-user-white.svg');
      background-size: 19px 25px;
      background-repeat: no-repeat;
      background-position: center;

      & +.hide-show_userpanel-box{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 10px 25px;
        background-color: $white;
        box-shadow: 0 0 2px $textColorLight;
        z-index: 9;

        @media #{$mq-760-up}{
          top: calc(100% + 15px);
          right: -25px;
          left: unset;
        }

        > a{
          display: block;
          text-align: center;
          padding: 5px;
        }
      }
    }
    .hide-show_userpanel.active{
      & + .hide-show_userpanel-box{
        display: block;
      }
    }
  }
}

body{
  &.about{
    #main_nav,
    #main_nav .nav_conent-menu.menu-toggle{
      background-color: $mainAccentLight;
    }
  }
  &.main{
    #main_nav,
    #main_nav .nav_conent-menu.menu-toggle{
      background-color: $white;
    }
  }
  
  &.about,
  &.main{
    #main_nav{
      .nav_link{
        color: $textColorLight;
        &.active{
          color: $black;
        }
        &.name_link{
          color: $black;
        }
      }
      #hide-show_menu{
        .line{
          background-color: $black;
        }
      }
      .nav_conent-menu--user{    
        .hide-show_userpanel{
          border: 1px solid $textColorLight;
          background-image: url('../../images/ico-user.svg');
        }
      }
    }
  }
}